*{
    transition: 0.5s ease-out;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    position: fixed;
    z-index: 500;
    background: #22242A;
    padding: 20px;
    width: 100%;
    height: 35px;
}

.left-area h3{
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
    margin-top: -35px;
}

.left-area span{
    color: #1DC4E7;
    margin-top: -35px;  
}

.logout-btn{
    padding: 5px;
    background: #19B3D3;
    text-decoration: none;
    float: right;
    margin-top: -26px;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
    transition-property: background;
}

.logout-btn:hover{
    background: #0D9DBB;
}

.sidebar{
    z-index: 500;
    background: #2F323A;
    /* margin-top: 70px; */
    padding-top: 30px;
    position: fixed;
    left: 0;
    top: 40px;
    width: 250px;
    height: 100vh;
    transition: 0.5s;
    transition-property: left;
}

.sidebar .profile_image{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
}

.sidebar h4{
    color: #ccc;
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: bold;
}

.sidebar a{
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.1s;
    transition-property: background;
}

.sidebar a:hover{
    background: #fff;
    color: #000;
}

.sidebar a .number{
    font-size: 11px;
    /* margin-top: 15px; */
    bottom: 5px;
    position: absolute;
    padding-left: 5px;
    padding-right: 4px;
    padding-top: 3px;
    padding-bottom: 3px;
    background: #19B3D3;
    border-radius: 50%;
}
.sidebar i{
    padding-right: 10px;
    position: relative;
}

label #sidebar_btn{
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    left: 300px;
    font-size: 20px;
    margin: -25px;
    transition: 0.5s;
    transition-property: color;
}

label #sidebar_btn:hover{
    color: #19B3D3;
}

#check:checked ~ .sidebar{
    left: -196px;
}

#check:checked ~ .sidebar a span,
#check:checked ~ .sidebar a span .number{
    display: none;
}

/* .dash{
    background: #fff;
    color: #000 !important;
} */

#check:checked ~ .sidebar a{
    font-size: 20px;
    margin-left: 170px;
    width: 80px;
}
#check:checked ~ .sidebar a .number{
    font-size: 20px;
}

/* .content{
    margin-left: 250px;
    background: url(../photos/modem.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;
    transition:  0.5s;
} */

#check:checked ~ .content{
    margin-left: 60px;
}

#check{
    display: none;
}

/* .content{
    /* margin-left: 250px; 
    height: 100vh;
    transition:  0.5s;
}
.content h2{
    background: #0062cc;
    color: #fff;
    width: 200px;
    font-size: 24px;
    padding: 5px;
    height: 40px;
}
.content h2::after{
    content: '';
    border-top: 51px solid #0062cc;
    border-right: 40px solid transparent;
    position: relative;
    left: 77px;
    top: 46px;
}
.content .row{
    margin-top: 30px;
}
.content .row img{
    width: 100%;
}
.content .row .product-botton .fa{
    color: #28a745;
    font-size: 10px;
}
.content .row .product-botton h3{
    font-size: 20px;
    font-weight: bold;
}
.overlay{
    display: block;
    opacity: 0;
    position: absolute;
    top: 10%;
    margin-left: 0;
    width: 70px;
}
.product-top:hover .overlay{
    opacity: 1;
    margin-left: 5%;
    transition: 0.5s;
}
.overlay .fa{
    cursor: pointer;
    background-color: #fff;
    color: #000;
    height: 35px;
    font-size: 20px;
    padding: 7px;
    margin: 5%;
    margin-bottom: 5%;
}
.overlay .btn-secondary{
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
} */
.contenu{
    width: 80%;
    height: auto;
    position: absolute;
    left: 160px;
    top: 55px;
}
.filigrammenoir{
    justify-content: center;
    align-items: center;
    display: none;
    position: fixed;
    z-index: 600;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.911);
    transition: .8s ease-out;
}
.resetForm{
    display: none;
    position: absolute;
    max-width: 800px;
    height: 550px;
    margin: auto;
    top: 60%;
    left: 60%; 
    transform: translate(-50%, -50%);
    transition: .8s ease-out;
}
.myLeftCtn{
    position: relative;
    background: #fff;
    border-radius: 25px;
    height: 450px;
    padding: 25px;
    padding-left: 5px;
    width: 500px;
    box-sizing: border-box;
}
.myLeftCtn .header{
    text-transform: uppercase;
    color: #1DC4E7;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 40px;
    /* position: absolute; */
    margin-top: -50px;
}

.row{
    height: 100%;
}

.myCard{
    position: relative;
    background: #fff;
    height: 100%;
    border-radius: 25px;
    -webkit-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
}
.myLeftCtn .myInput{
    width: 300px;
    margin-bottom: 15px;
    border-radius: 25px;
    padding: 10px;
    padding-left: 50px;
    border: none;
    -webkit-box-shadow: 0px 0px 7px 0px rgb(0 0 0 / 70%);
    -moz-box-shadow: 0px 0px 7px 0px rgb(0 0 0 / 70%);
    box-shadow: 0px 0px 7px 0px rgb(0 0 0 / 70%);
}
#avatar{
    border: none;
    box-shadow: none;
    padding-left: 6px;
}
.myLeftCtn .myInput:focus{
    outline: none;
}

.myForm{
    position: relative;
    margin-top: 50px;
}

.butt{
    background: linear-gradient(45deg, #03c1ec, #078a7e);
    color: #fff;
    width: 100px;
    border: none;
    margin-top: 15px;
    border-radius: 25px;
    padding: 10px;
    -webkit-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 110px;
    margin: auto;
    margin-left: 130px;
    bottom: 100px;
    cursor: pointer
}
.cancel{
    background: linear-gradient(45deg, #ff4040, #f10021);
    color: #fff;
    width: 100px;
    border: none;
    margin-top: 15px;
    border-radius: 25px;
    padding: 10px;
    -webkit-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 110px;
    margin: auto;
    margin-left: 270px;
    bottom: 100px;
    cursor: pointer
}
.butt:hover{
    background: linear-gradient(45deg, #1de778, #a096bd);
}

 .butt:focus{
    outline: none;
}
.cancel:focus{
    outline: none;
}
.fa-times:before {
    content: "\f00d";
    position: absolute;
    top: 25px;
    left: 470px;
    background: grey;
    border-radius: 50%;
    padding: 5px;
    padding-left: 6px;
    padding-right: 6px;
    position: fixed;
    color: black;
    font-size: 15px;
    font-weight: bold;
    z-index: 10000;
    cursor: pointer;
}