*{
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contenu{
    width: 100%;
    margin: auto;
    height: 70px;
    border: none;
    box-shadow: 30px 0px 14px 1px grey;
    background: rgb(224, 222, 222);
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    align-self: center;
    display: flex;
    justify-content: space-between;
}
.nav-logo{
    float: left;
    width: 30%;
    margin: auto;
}
.nav-logo h1{
    font-size: 50px;
    font-weight: 800;
}
 .nav-links{
    float: right;
    width: 10%;
    margin: auto;
}
.contenu .nav-links ul{
    display: flex;
    text-decoration: none;
}
.contenu .nav-links ul li{
    list-style: none;
    font-size: 20px;
    font-weight: 700;
    padding-right: 15px;
}
.contenu .nav-links ul li span{
    box-sizing: border-box;
    border: 1px solid black;
    padding: 10px;
    padding-bottom: 15px;
    padding-top: 15px;
    margin: auto;
    border-radius: 50%;
}
.contenu .nav-links ul li span img{
    max-width: 100%;
    object-fit: content;
}

