*{
    transition: 0.5s ease-out;
}
body{
    background: url(../photos/modem.jpg) fixed no-repeat bottom;
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    position: fixed;
    z-index: 500;
    background: #22242A;
    padding: 20px;
    padding-top: 25px;
    width: 100%;
    height: 50px;
}

.left-area h3{
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
    margin-top: -35px;
}

.left-area span{
    color: #1DC4E7;
    margin-top: -35px;  
}

.logout-btn{
    padding: 5px;
    background: #19B3D3;
    text-decoration: none;
    float: right;
    margin-top: -26px;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
    transition-property: background;
}

.logout-btn:hover{
    background: #0D9DBB;
}
.logout-btn i{
    padding-right: 7px;
}

section{
    z-index: 500;
    width: 100%;
    position: absolute;
    top: 30%;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: #fff;
    background: #1b1a1aa3;
    padding: 50px;
    box-sizing: border-box;
}
section h1{
    font-size: 60px;
    font-weight: bold;
    font-family: revert;
    cursor: pointer;
    transition: .5s ease-in-out;
}
section h1 .sp1:hover{
    font-size: 60px;
    color: #0D9DBB;
    cursor: pointer;
}
section h1 .sp2:hover{
    font-size: 60px;
    color: red;
    cursor: pointer;
}
section h1 .sp3:hover{
    font-size: 60px;
    color: green;
    cursor: pointer;
}
section h1 .sp4:hover{
    font-size: 60px;
    color: yellow;
    cursor: pointer;
}
section h1 .sp5:hover{
    font-size: 60px;
    color: brown;
    cursor: pointer;
}
section h1 .sp6:hover{
    font-size: 60px;
    color: rgb(247, 31, 247);
    cursor: pointer;
}
section h1 .sp7:hover{
    font-size: 60px;
    color: rgb(229, 151, 164);
    cursor: pointer;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90px;
    align-items: center;
    box-sizing: border-box;
    background: #000;
    color: #fff;
    align-content: center;
}
footer .footer-head{
    width: 15%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 20px;
}

footer .footer-head i{
    font-size: 20px;
    color: #fff;
    background: transparent;
    border-radius: 50%;
    padding: 9px;
    margin: auto;
    cursor: pointer;
    transition: .5s ease-out;
}
footer .footer-head .facebook:hover{
    background: blue;
    color: #fff;
}
footer .footer-head .twitter:hover{
    background: rgb(61, 61, 196);
    color: #fff;
}
footer .footer-head .instagram:hover{
    background: red;
    color: #fff;
}
footer .footer-head .telegram:hover{
    background: rgb(31, 31, 196);
    color: #fff;
}
footer .footer-head .gp:hover{
    background: rgb(218, 20, 20);
    color: #fff;
}
.footer-text{
    font-size: 15px;
    font-weight: 600;
}