*{
    transition: 0.5s ease-out;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    position: fixed;
    z-index: 500;
    background: #22242A;
    padding: 20px;
    width: 100%;
    height: 35px;
}

.left-area h3{
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
    margin-top: -35px;
}

.left-area span{
    color: #1DC4E7;
    margin-top: -35px;  
}

.logout-btn{
    padding: 5px;
    background: #19B3D3;
    text-decoration: none;
    float: right;
    margin-top: -26px;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
    transition-property: background;
}

.logout-btn:hover{
    background: #0D9DBB;
}

.sidebar{
    z-index: 500;
    background: #2F323A;
    /* margin-top: 70px; */
    padding-top: 30px;
    position: fixed;
    left: 0;
    top: 40px;
    width: 250px;
    height: 100vh;
    transition: 0.5s;
    transition-property: left;
}

.sidebar .profile_image{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
}

.sidebar h4{
    color: #ccc;
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: bold;
}

.sidebar a{
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.1s;
    transition-property: background;
}

.sidebar a:hover{
    background: #fff;
    color: #000;
}

.sidebar a .number{
    font-size: 11px;
    /* margin-top: 15px; */
    bottom: 5px;
    position: absolute;
    padding-left: 5px;
    padding-right: 4px;
    padding-top: 3px;
    padding-bottom: 3px;
    background: #19B3D3;
    border-radius: 50%;
}
.sidebar i{
    padding-right: 10px;
    position: relative;
}

label #sidebar_btn{
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    left: 300px;
    font-size: 20px;
    margin: -25px;
    transition: 0.5s;
    transition-property: color;
}

label #sidebar_btn:hover{
    color: #19B3D3;
}

#check:checked ~ .sidebar{
    left: -196px;
}

#check:checked ~ .sidebar a span,
#check:checked ~ .sidebar a span .number{
    display: none;
}


#check:checked ~ .sidebar a{
    font-size: 20px;
    margin-left: 170px;
    width: 80px;
}
#check:checked ~ .sidebar a .number{
    font-size: 20px;
}


#check:checked ~ .content{
    margin-left: 60px;
}

#check{
    display: none;
}

.contenu{
    width: 80%;
    height: auto;
    position: absolute;
    left: 160px;
    top: 55px;
}