*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    list-style-type: none;
}

body{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../photos/balazs-ketyi-6ba_vdgx_go-unsplash.jpg);
    background-position: center;
    background-size: cover;
}

.container{
    position: absolute;
    max-width: 800px;
    height: 500px;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.myRightCtn{
    position: relative;
    background-image: linear-gradient(45deg, #1DC4E7, #d2cdd4);
    border-radius: 25px;
    height: 100%;
    padding: 25px;
    color: rgb(75, 70, 70);
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myRightCtn header{
    color: #fff;
    font-size: 44px;
}


.myLeftCtn{
    position: relative;
    background: #fff;
    border-radius: 25px;
    height: 100%;
    padding: 25px;
    padding-left: 5px;
    width: 500px;
}
.myLeftCtn header{
    color: #1DC4E7;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.row{
    height: 100%;
}

.myCard{
    position: relative;
    background: #fff;
    height: 100%;
    border-radius: 25px;
    -webkit-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
}

.box{
    position: relative;
    margin: 20px;
    margin-bottom: 100px;
}
.myLeftCtn .myInput{
    width: 250px;
    margin-bottom: 15px;
    border-radius: 25px;
    padding: 10px;
    padding-left: 50px;
    border: none;
    -webkit-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
}
.myLeftCtn .myInput:focus{
    outline: none;
}

.myForm{
    position: relative;
    margin-top: 50px;
}

.myLeftCtn .butt{
    background: linear-gradient(45deg, #1DC4E7, #d2cdd4);
    color: #fff;
    width: 230px;
    border: none;
    margin-top: 15px;
    border-radius: 25px;
    padding: 10px;
    -webkit-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
}
.myLeftCtn .butt:hover{
    background: linear-gradient(45deg, #2cc9e9, #e2dfdf);
}

.myLeftCtn .butt:focus{
    outline: none;
}

.myLeftCtn .fas{
    position: relative;
    color: #1DC4E7;
    left: 36px;
}

.butt_out{
    background: transparent;
    color: #fff;
    text-decoration: none !important;
    font-size: 15px !important;
    width: 120px;
    padding: 5px;
    border: 2px solid #fff;
    border-radius: 15px;
    -webkit-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
}
.butt_out:hover{
    border: 2px solid #eecbff;
}
.butt_out:focus{
    outline: none;
}
.small, small {
    font-size: .875em;
    padding: 5px;
    /* margin-bottom: 72px; */
    font-weight: bold;
}
#check_1{
    padding-top: 5px;
}